.carousel {
    margin-bottom: 2em;
  }
  
  .carousel-cell {
    overflow: hidden;
    height: 400px;
    margin-right: 10px;
  }
  
  .carousel-cell img {
    display: block;
    height: 200px;
  }
  
  @media screen and ( min-width: 768px ) {
    .carousel-cell img {
      height: 400px;
    }
  }

  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: -2px 1px #000000;

        @media screen and (max-width: 768px) {
          top: 30%;
        }

     h3 {
        font-size: 2.75rem;
        font-family: $roboto-slab;
        font-weight: 800;

            @media screen and (max-width: 768px) {
              font-size: 2.2em;
            }
     }
  }

  @media screen and (max-width: 768px) {

    .flickity-viewport {
      height: 200px !important;
    }
  }